<div class="form-container">
  <%= form_for(resource,
               as: resource_name,
               url: confirmation_path(resource_name),
               html: { method: :post, class: "form" }) do |f| %>

    <%= devise_error_messages! %>

    <h2 class="form-title">Resend confirmation instructions</h2>
    <div class="form-fields">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true,
          value: (resource.pending_reconfirmation?
            ? resource.unconfirmed_email
            : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions",
          :class => "btn btn--confirm"%>
      </div>

      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
