<div class="form-container">

  <%= form_for(resource,
               as: resource_name,
               url: registration_path(resource_name),
               html: { method: :put, class: "form" }) do |f| %>

    <%= devise_error_messages! %>

    <h2 class="form-title">Edit <%= resource_name.to_s.humanize %></h2>

    <div class="form-fields">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
        <br/>
        <% if @minimum_password_length %>
          <i class="small-text">(Leave blank to make no changes, <%= @minimum_password_length %>
            characters minimum)</i>
        <% else %>
          <i class="small-text">(Leave blank to make no changes)</i>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off" %>
        <br/>
        <i class="small-text">(Current password needed to confirm changes)</i>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "btn btn--confirm" %>
      </div>
    </div>
  <% end %>
</div>

<div class="form-container">
  <div class="form">
    <h3 class="form-title">Cancel my account</h3>
    <div class="field">
      <p>Unhappy?
        <%= button_to "Cancel my account",
          registration_path(resource_name),
          data: { confirm: "Are you sure?" },
          method: :delete,
          class: 'btn btn--cancel'
        %>
      </p>
    </div>
  </div>
</div>
