<div class="form-container">
  <%= form_for(resource,
               as: resource_name,
               url: unlock_path(resource_name),
               html: { method: :post, class: "form" }) do |f| %>

    <%= devise_error_messages! %>

    <h2 class="form-title">Resend unlock instructions</h2>

    <div class="form-fields">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions",
          :class => "btn btn--confirm" %>
      </div>

      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
