!!! 5
%html
  %head
    %title Timely
    = csrf_meta_tags

    %link{ rel: "stylesheet",
      href: "https://fonts.googleapis.com/css?family=Abril+Fatface|Varela|Bree+Serif" }
    = favicon_link_tag  '/public/images/favicon.png', type: "image/png"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    %script
      document.addEventListener('turbolinks:before-cache', () =>
      WebpackerReact.unmountComponents())


  %body
    .container
      = react_component 'Nav',
      authToken: @auth_token,
      currentUser: @current_user,
      flashMsg: @flash_message

      = yield
      = render partial: '/shared/main'

      .spacer

      %footer
        Brought to you by DevMagic © 2017
